<div class='row d-flex justify-content-center' data-controller='inquiry-form'>
  <div class='col-8 col-sm-8 col-md-7 col-lg-5 col-xl-4'>
    <%= simple_form_for @inquiry, html: { class:'needs-validation' } do |f| %>
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name, required: true %>
      <%= f.input :interest, required: true, collection: Inquiry.interests.keys %>
      <%= f.input :email, required: true %>
      <%= f.input :message, input_html: { rows: 5 } %>
      <%= f.submit 'Submit', class: 'btn btn-flat' %>
    <% end %>
  </div>
</div>
