<div class='gallery'>
  <div class='card'>
    <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg', alt: 'breakfast image' %>
    <div class='info'>
    <h1>Breakfast</h1>
    <p>Bla bla Breakfast content. Talking about breakfast... Oh how great is breakfast. I love breakfast.</p>
    <a href='#' class='btn btn-flat'>More on breakfast</a>
    </div>
  </div>

  <div class='card'>
    <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg', alt: 'lunch image' %>
    <div class='info'>
    <h1>Lunch</h1>
    <p>Same for lunch, who doesn't love lunch? Lunch is great. Bla bla. Lunch this, lunch that. This should be plenty on lunch.</p>
    <%= link_to  'More on lunch', '#', class: 'btn btn-flat' %>
    </div>
  </div>

  <div class='card'>
    <%= image_tag 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg', alt: 'dinner image' %>
    <div class='info'>
    <h1>Dinner</h1>
    <p>You guessed it.. Bla bla bla dinnner, bla dinner bla. Winner winner, chicken dinner. This concludes the dinner content.</p>
    <%= link_to  'More on dinner', '#', class: 'btn btn-flat' %>
    </div>
  </div>

  <div class='card'>
    <%= image_tag 'https://images.unsplash.com/photo-1624128082319-2210acebc3c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjZ8fGVtcGFuYWRhc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60', alt: 'dinner image' %>
    <div class='info'>
    <h1>Empanadas</h1>
    <p>You guessed it.. Bla bla bla dinnner, bla dinner bla. Winner winner, chicken dinner. This concludes the dinner content.</p>
    <%= link_to  'More on dinner', '#', class: 'btn btn-flat' %>
    </div>
  </div>

  <div class='card'>
    <%= image_tag 'https://images.unsplash.com/photo-1579887829494-5b736888265a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cG9rZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60', alt: 'dinner image' %>
    <div class='info'>
    <h1>Poke</h1>
    <p>You guessed it.. Bla bla bla dinnner, bla dinner bla. Winner winner, chicken dinner. This concludes the dinner content.</p>
    <%= link_to  'More on dinner', '#', class: 'btn btn-flat' %>
    </div>
  </div>

  <div class='card'>
    <%= image_tag 'https://images.unsplash.com/photo-1592134073632-f38ffeef9ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJicXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60', alt: 'dinner image' %>
    <div class='info'>
    <h1>Asado</h1>
    <p>You guessed it.. Bla bla bla dinnner, bla dinner bla. Winner winner, chicken dinner. This concludes the dinner content.</p>
    <%= link_to  'More on dinner', '#', class: 'btn btn-flat' %>
    </div>
  </div>

  <div class='card'>
    <%= image_tag 'https://images.unsplash.com/photo-1543773495-2cd9248a5bda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHN3ZWV0c3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60', alt: 'dinner image' %>
    <div class='info'>
    <h1>Masitas</h1>
    <p>You guessed it.. Bla bla bla dinnner, bla dinner bla. Winner winner, chicken dinner. This concludes the dinner content.</p>
    <%= link_to  'More on dinner', '#', class: 'btn btn-flat' %>
    </div>
  </div>

  <div class='card'>
    <%= image_tag 'https://images.unsplash.com/photo-1552552492-9c335658343d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWxmYWpvcmVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60', alt: 'dinner image' %>
    <div class='info'>
    <h1>Alfajores</h1>
    <p>You guessed it.. Bla bla bla dinnner, bla dinner bla. Winner winner, chicken dinner. This concludes the dinner content.</p>
    <%= link_to  'More on dinner', '#', class: 'btn btn-flat' %>
    </div>
  </div>
</div>
