<li class="nav-item dropdown">
  <%= image_tag 'ron_swanson', class: "avatar-bordered  dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    <%= link_to "Action", "#", class: "dropdown-item" %>
    <%= link_to "Another action", "#", class: "dropdown-item" %>
    <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
  </div>
</li><li class="nav-item dropdown">
  <%= image_tag 'ron_swanson', class: "avatar-bordered  dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
    <%= link_to "Action", "#", class: "dropdown-item" %>
    <%= link_to "Another action", "#", class: "dropdown-item" %>
    <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
  </div>
</li>
