<div class='banner d-flex align-items-center' id='home' style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Custom Ruby on Rails Site</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-flat" href="#">Start Coding</a>
  </div>
</div>

<div class='container'>
  <!-- Flash messages -->
  <%= render 'shared/flash-messages' %>

  <!-- Bio -->
  <div class='section' id='bio'>
    <h2>Bio</h2>
    <%= render 'shared/sweet_dreams' %>
  </div>

  <!-- Gallery -->
  <div class='section' id='gallery'>
    <h2>Uruguayan Cuisine</h2>
    <br>
    <%= render 'shared/gallery' %>
  </div>

  <!-- Form -->
  <div class='section' id='form'>
    <h2>Get in Touch</h2>
    <%= render 'pages/home/simple-form' %>
  </div>

  <!-- Social links -->
  <%= render 'pages/home/social_links' %>
</div>
